name=TwitchUser3000____
server_port=1000
VITE_DOMAIN=1000
domain=https://geobingo.io
token=oauth:asdsdasldaksd123988jl12j3123g12
supabasekey=eyASdJKASdj // should have service role
supabaseurl=https://asdsdasldaksd123988jl12j3123g12.supabase.co
jwtpriv=sdalsjd-123hjla-asdjasd-asdlasdj-asd // jwt secret from supabase to validate tokens
