/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* for better map performance. idk if it works */
#map * {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: all 0s ease;
	transition: none;
}
/* removing copy and paste from every thing */
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

